.mainboard {
  background-color: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  padding: 32px 24px 48px;
  margin-top: 16px;
  display: grid;
  gap: 19px;
  grid-template-columns: 1fr 6fr;
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.name-date-avatar {
  display: flex;
  grid-column-start: 2;
  gap: 19.5px;
  align-items: center;
}
.mainData {
  grid-column-start: 1;
  grid-column-end: 3;
}
.login {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2b3442;
}
.rateSign {
  font-size: 13px;
  line-height: 19px;
  color: #0079ff;
}
.join {
  font-size: 13px;
  line-height: 19px;
  color: #697c9a;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f8ff;
  padding: 16px 15px;
  margin-top: 23px;
}
.middle-text {
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #4b6a9b;
}
.middle-num {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #2b3442;
}

.iconError {
  filter: invert(48%) sepia(14%) saturate(780%) hue-rotate(177deg)
    brightness(97%) contrast(90%);
}

@media (min-width: 768px) {
  .conta {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mainboard {
    padding: 40px;
  }
  .avatar {
    width: 117px;
    height: 117px;
  }
  .bio {
    font-size: 15px;
    line-height: 25px;
  }

  .login {
    font-size: 26px;
    line-height: 39px;
  }
  .rateSign {
    font-size: 16px;
    line-height: 24px;
  }
  .join {
    font-size: 15px;
    line-height: 22px;
  }
  .stats {
    padding: 15px 96px 17px 32px;
  }
  .middle-num {
    font-size: 22px;
    line-height: 33px;
  }
  .middle-text {
    font-size: 13px;
    line-height: 19px;
  }
}
@media (min-width: 1440px) {
  .name-date {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .join {
    position: relative;
    top: 10px;
  }
  .mainboard {
    gap: 37px;
    padding: 48px;
    row-gap: 0;
  }
  .avatar {
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
    top: 30px;
  }
  .name-date-avatar {
    grid-column-start: 2;
  }
  .mainData {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .bio {
    margin-top: 0;
  }
}
